.card{
    width: 20%;
    background-color: #e9e6e1;
    text-align: center;
    padding: 15px;
    margin-right: 30px;
    margin-top: 10px;
}
.card-img-top{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

button.badge{
    background-color: indianred;
    border: none;
    color: white;
    width: 1.5rem;
    margin-left: 5px;
}

/*Detailed Product Page js */
.detailed-info-box-child-1{
    border: solid white;
    padding: 15px;
}
.detailed-info-box-child-2{
    padding: 15px;
    height: fit-content;
}

.detailed-info-image{
    width: 20rem;
    border: 1px solid black;
}
.style-detailed-info-card{
    width: 23rem;
    height: 18vw;
    background-color: white;
    border-radius: 0px;
    object-fit: contain;
}

.navbar-header{
    font-family: sans-serif;
    font-size: 16px;
}



