/*Cart styling*/
.cart-parent-container{
    margin-top: 20px;
}
.cart-child-container-1{
    border: 2px solid black;
    border-radius: 7px;
    height: fit-content;
}
.cart-child-container-2{
    border: 2px solid black;
    border-radius: 7px;
    height: 200px;
}


.sample-cart-item{
    border: 2px solid black;
    width: 200px;
    height: 250px;
}