
/*Homepage container styling*/
.body-container{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.form-title{
    text-align: center;
    margin-bottom: 10px;
}

.form-container{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
}
/*Product card styling*/
.card{
    width: 20%;
    background-color: antiquewhite;
    text-align: center;
    padding: 15px;
    margin-right: 25px;
    margin-top: 10px;
}

.card-container{
    margin-top: 10px;
}



