
/*Homepage container styling*/
.body-container{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.form-title{
    text-align: center;
    margin-bottom: 10px;
}

.form-container{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
}
/*Product card styling*/
.card{
    width: 20%;
    background-color: antiquewhite;
    text-align: center;
    padding: 15px;
    margin-right: 25px;
    margin-top: 10px;
}

.card-container{
    margin-top: 10px;
}

/*Contains both child containers below*/
.cart-parent-container{
    margin-top: 20px;
}

/*Items added to Cart*/
.cart-child-container-1{
    border: 2px solid black;
    border-radius: 7px;
    height: 200px;
    margin-right: 25px;
}

/*Summary of Cart items -> totals etc*/
.cart-child-container-2{
    border: 2px solid black;
    border-radius: 7px;
    height: 200px;


}

/*Cart badge -> styling for when added to cart*/
button.badge{
    background-color: indianred;
    border: none;
    color: white;
    width: 1.5rem;
    margin-left: 5px;
}



