
/*Checkout Styling*/
.checkout-columns{
    border: 2px solid black;
    border-radius: 5px;
}
.checkout-form{
    width: 100%;
}

/*Confirmation Page Styling*/
.confirmation-container{
    text-align: center;
    font-family: Dialog;
    text-align: center;
}





